
::-webkit-scrollbar {
  width: 10px;
}

/* fondo de la barra */
::-webkit-scrollbar-track {
  background: transparent;
}

/* barra deslizable */
::-webkit-scrollbar-thumb {
  background-color: #ffba00;
  border-radius: 9999px;
}
